.profile-img {
    height: 250px;
    border-radius: 50%;
    border: 5px solid lightblue
}

.gradient-background {
    background: linear-gradient(300deg, #2E5077, #4DA1A9, #F6F4F0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.white-text {
    color: #F6F4F0;
    font-size: 1.8rem;
}

.playwrite-is {
  font-family: "Playwrite IS", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-txt {
    color: darkgray;
    font-size: 5rem;
}

.subheader-txt {
    font-size: 3rem;
    text-align: center;
}

.resume-msg {
    width: 100%;
    text-align: center;
}

.ugh-div {
    width: 100%;
    text-align: center;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}

.xp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

/* handle screen changes for experience */
@media (max-width: 991px) {
    .xp-container {
        display: flex;
        flex-direction: column;
    }
}

.big-projects-container {
    background-color: #F6F4F0;
    border-radius: 1%;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.proj-img {
    border-radius: 10%;
    border: 5px solid #4DA1A9;
}

.proj-img:hover {
    border-radius: 30%;
    border: 5px solid #2E5077;
    transition: 0.5s;
}

.proj-desc {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.about-project {
    text-align: center;
    margin-top: 10px;
    width: 280px;
}

/* for projects */
@media (max-width: 991px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}